@font-face {
    font-family: samarkan;
    src: url("/fonts/samarkan.ttf");
}

@font-face {
    font-family: momstypewriter;
    src: url('/fonts/momstypewriter.ttf');
}



body {
    background-image: url('/images/old-paper.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

#flowable-container {
    text-align: justify;
    padding: 10px;
    border: 1px solid black;
    width: fit-content;
    font-family: samarkan;
    font-weight: bolder;
    flex-direction: row;
    flex-wrap: wrap;
}

div.card-container{
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-evenly;
    row-gap: 60px;
    column-gap: 30px;
    padding-top: 20px;
}

div.card {
    width: 200px;
    text-align: justify;
    font-family: momstypewriter;
    font-size: 14px;
    background-color: white;
    padding: 20px;
    border: 0px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgb(34, 34, 34);
    background-image: url('/images/card-old-paper.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

div.card div.card-heading{
    font-weight: bolder;
}

.mass-underline{
    border-bottom: 2px solid black;
    padding-bottom: 1px;
}

.stamp {
    border: 2px solid red;
    text-align: center;
    color: red;
}


